In [1]:
import pandas as pd

In [2]:
df_enum = pd.concat(map(pd.read_csv, ['/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2017.csv', '/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2018.csv','/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2019.csv','/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2020.csv']))

In [3]:
df_enum = df_enum[['id']].copy()

In [4]:
df_enum['id'].value_counts()

192.168.10.16-91.189.88.149-34460-80-2017-07-06T05:12:13.250467-0700     20
192.168.10.8-205.174.165.73-54119-444-2017-07-06T10:28:51.519745-0700    12
192.168.10.51-91.189.95.83-54677-80-2017-07-06T05:34:49.118664-0700      12
192.168.10.51-91.189.95.83-54677-80-2017-07-06T05:34:48.729345-0700      12
192.168.10.51-91.189.88.161-59425-80-2017-07-06T05:34:49.231075-0700     12
                                                                         ..
192.168.10.8-205.174.165.73-54119-444-2017-07-06T10:29:06.000208-0700     1
192.168.10.8-205.174.165.73-54119-444-2017-07-06T10:29:05.900206-0700     1
192.168.10.8-205.174.165.73-54119-444-2017-07-06T10:29:05.800133-0700     1
192.168.10.8-205.174.165.73-54119-444-2017-07-06T10:29:05.700189-0700     1
192.168.10.3-192.168.10.1-62456-53-2017-07-06T12:54:41.620939-0700        1
Name: id, Length: 25703, dtype: int64

In [5]:
print(df1)

NameError: name 'df1' is not defined

In [6]:
df1 = pd.read_csv('/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2017.csv')
df2 = pd.read_csv('/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2018.csv')
df3 = pd.read_csv('/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2019.csv')
df4 = pd.read_csv('/home/exp-1/Desktop/data/Alerts/Alerts_csv/ds2_suricata/2020.csv')

In [7]:
df_enum['2017'] = df_enum['id'].isin(df1['id'])
df_enum['2018'] = df_enum['id'].isin(df2['id'])
df_enum['2019'] = df_enum['id'].isin(df3['id'])
df_enum['2020'] = df_enum['id'].isin(df4['id'])

In [8]:
df_enum['2017'].value_counts()

True     95110
False     2256
Name: 2017, dtype: int64

In [9]:
df_enum['2018'].value_counts()

True     95232
False     2134
Name: 2018, dtype: int64

In [10]:
df_enum['2019'].value_counts()

True     95363
False     2003
Name: 2019, dtype: int64

In [11]:
df_enum['2020'].value_counts()

True     96101
False     1265
Name: 2020, dtype: int64

In [13]:
df_enum.to_csv("/home/exp-1/Desktop/data/Alerts/ds3_suricata_evolution.csv", index=False)

In [71]:
df_evo=pd.read_csv("/home/exp-1/Desktop/data/Alerts/ds3_suricata_evo_proc.csv")

In [72]:
print(df_evo)

              id  2017  2017.1  2017.2  2017.3  2017.4  2017.5  2017.6  \
0              1     1       1       1       1       1       1       1
1              2     1       1       1       1       1       1       1
2              3     1       1       1       1       1       1       1
3              4     1       1       1       1       1       1       1
4              5     1       1       1       1       1       1       1
...          ...   ...     ...     ...     ...     ...     ...     ...
1048570  1048571     1       1       1       1       1       1       1
1048571  1048572     1       1       1       1       1       1       1
1048572  1048573     1       1       1       1       1       1       1
1048573  1048574     0       0       0       0       0       0       0
1048574  1048575     1       1       1       1       1       1       1

         2017.7  2017.8  ...  2020.11  2020.12  2020.13  2020.14  2020.15  \
0             1       1  ...        1        1        1        1        1
1             1       1  ...        1        1        1        1        1
2             1       1  ...        1        1        1        1        1
3             1       1  ...        1        1        1        1        1
4             1       1  ...        1        1        1        1        1
...         ...     ...  ...      ...      ...      ...      ...      ...
1048570       1       1  ...        1        1        1        1        1
1048571       1       1  ...        1        1        1        1        1
1048572       1       1  ...        1        1        1        1        1
1048573       0       0  ...        0        0        0        0        0
1048574       1       1  ...        1        1        1        1        1

         2020.16  2020.17  2020.18  2020.19  2020.20
0              1        1        1        1        1
1              1        1        1        1        1
2              1        1        1        1        1
3              1        1        1        1        1
4              1        1        1        1        1
...          ...      ...      ...      ...      ...
1048570        1        1        1        1        1
1048571        1        1        1        1        1
1048572        1        1        1        1        1
1048573        0        0        0        0        0
1048574        1        1        1        1        1

[1048575 rows x 82 columns]

In [64]:
df_evo['id']= df_evo.index+1

In [65]:
print(df_evo)

              id   2017  2017.1  2017.2  2017.3  2017.4  2017.5  2017.6  \
0              1   True    True    True    True    True    True    True
1              2   True    True    True    True    True    True    True
2              3   True    True    True    True    True    True    True
3              4   True    True    True    True    True    True    True
4              5   True    True    True    True    True    True    True
...          ...    ...     ...     ...     ...     ...     ...     ...
1048570  1048571   True    True    True    True    True    True    True
1048571  1048572   True    True    True    True    True    True    True
1048572  1048573   True    True    True    True    True    True    True
1048573  1048574  False   False   False   False   False   False   False
1048574  1048575   True    True    True    True    True    True    True

         2017.7  2017.8  ...  2020.11  2020.12  2020.13  2020.14  2020.15  \
0          True    True  ...     True     True     True     True     True
1          True    True  ...     True     True     True     True     True
2          True    True  ...     True     True     True     True     True
3          True    True  ...     True     True     True     True     True
4          True    True  ...     True     True     True     True     True
...         ...     ...  ...      ...      ...      ...      ...      ...
1048570    True    True  ...     True     True     True     True     True
1048571    True    True  ...     True     True     True     True     True
1048572    True    True  ...     True     True     True     True     True
1048573   False   False  ...    False    False    False    False    False
1048574    True    True  ...     True     True     True     True     True

         2020.16  2020.17  2020.18  2020.19  2020.20
0           True     True     True     True     True
1           True     True     True     True     True
2           True     True     True     True     True
3           True     True     True     True     True
4           True     True     True     True     True
...          ...      ...      ...      ...      ...
1048570     True     True     True     True     True
1048571     True     True     True     True     True
1048572     True     True     True     True     True
1048573    False    False    False    False    False
1048574     True     True     True     True     True

[1048575 rows x 82 columns]

In [66]:
df_evo=df_evo*1

In [67]:
df_evo.to_csv("/home/exp-1/Desktop/data/Alerts/ds3_suricata_evo_proc.csv",index=False)